<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Rock Paper Scissors</title>
</head>
<body>

  <p><%= username %> chose <%= user_choice %>. Bot chose <%= server_choice %>.</p>
  <p><%= winner%> wins!</p>
</body>
