
<div class="container h-100">
  <div class="row">
    <div class="col text-center">
      <header><h1>Play Rock Paper Scissors</h1></header>
    </div>
  </div>
  <div class="h-100 row justify-content-center">
    <div class="col-md-6 my-auto">
      <form action ="/play" method="post">
        <div class="input-group mb-3 justify-content-center">
          <input type="text" name="name" id="name" required autofocus class="input-text form-control form-control-lg" placeholder="What's your name?">
          <div class="input-group-append">
            <button class="play-button btn-large" type="submit"><span>Play RPS </span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

