<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
<style>

  html, body {
    height: 100%;
  }

  h1 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10%;
    text-align: center;
  }

  body {
    background-color: #EFD6AC;
  }


  input,
  span {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .play-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #C44900;
    border: none;
    color: #EFD6AC;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .play-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .play-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .play-button:hover span {
    padding-right: 25px;
  }

  .play-button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .input-text, .input-text:focus {
    border: none;
    background: transparent;
    height: auto;
    color: #C44900;
    text-align: center;
    font-size: 28px;
  }

  //.input-text:focus {
  //  border: none;
  //  outline: none;
  //  outline-width: 0;
  //  border-bottom: 2px solid #CCC;
  //}
  </style>

  <title>Rock Paper Scissors</title>
</head>
<body>
  <%= yield %>
</body>
