<h1>Hi <%= name %>, let's play!</h1>

<form action ="/choose" method="post">
  <div>
    <% choices.each do |value| %>
      <input type="submit" name="choice" value=<%= value %>>
    <% end %>
  </div>
</form>
